# Ignore node_modules folder
node_modules/

# Ignore output of TypeScript compilation
dist/
build/

# Ignore lock file
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environmental variables
.env
package-lock.json
package.json